[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
bs4 = "*"
requests = "*"
python-dotenv = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
